# Auto detect text files and perform LF normalization on checkout and commit
* text=auto eol=lf

# Force Linux LF line endings for scripts and configurations
*.sh text eol=lf
*.bash text eol=lf
*.hwdb text eol=lf
*.service text eol=lf
*.desktop text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.c text eol=lf
*.h text eol=lf
Makefile text eol=lf

# Binary assets
*.hex binary
*.efi binary
*.exe binary
*.deb binary
*.so binary
*.so.* binary
*.tar.gz binary
